<!-- <li class="m-nav__item m-topbar__user-profile m-topbar__user-profile--img m-dropdown m-dropdown--medium m-dropdown--arrow m-dropdown--header-bg-fill m-dropdown--align-right m-dropdown--mobile-full-width m-dropdown--skin-light" m-dropdown-toggle="click"> -->
<a href="#" class="m-nav__link m-dropdown__toggle" style="cursor:default">
	<span class="m-topbar__userpic">
		<!-- <img src="{{avatar}}" class="m--img-rounded m--marginless m--img-centered" alt="" /> -->
		Welcome, <span style="font-weight:600">{{ fullname }}</span>
	</span>
	<span class="m-topbar__userpic" style="padding-left:20px">
		<a href (click)="logout()"><i class="flaticon-logout"></i><span style="font-weight:600"> Logout</span></a>
	</span>
</a>
<!-- <div class="m-dropdown__wrapper">
	<span class="m-dropdown__arrow m-dropdown__arrow--right m-dropdown__arrow--adjust"></span>
	<div class="m-dropdown__inner">
		<div class="m-dropdown__header m--align-center" #mProfileDropdown style="background-size: cover;" [style.background-image]="avatarBg">
			<div class="m-card-user m-card-user--skin-dark">
				<div class="m-card-user__details">
					<span class="m-card-user__name m--font-weight-500">
						User Profile
					</span>
				</div>
			</div>
		</div>
		<div class="m-dropdown__body">
			<div class="m-dropdown__content">
				<ul class="m-nav m-nav--skin-light">
					<li class="m-nav__item">
						<a class="m-nav__link" placement="left" ngbTooltip="Full Name">
							<i class="m-nav__link-icon la la-user"></i>
							<span class="m-nav__link-text">
								{{ fullname }}
							</span>
						</a>
					</li>
					<li class="m-nav__item">
						<a class="m-nav__link" placement="left" ngbTooltip="Username">
							<i class="m-nav__link-icon la la-unlock-alt"></i>
							<span class="m-nav__link-text">
								{{ username }}
							</span>
						</a>
					</li>
					<li class="m-nav__item">
						<a class="m-nav__link" placement="left" ngbTooltip="Email">
							<i class="m-nav__link-icon la la-envelope-o"></i>
							<span class="m-nav__link-text">
								{{ email }}
							</span>
						</a>
					</li>
					<li class="m-nav__item" *ngIf="phone">
						<a class="m-nav__link" placement="left" ngbTooltip="Phone">
							<i class="m-nav__link-icon la la-phone-square"></i>
							<span class="m-nav__link-text">
								{{ phone }}
							</span>
						</a>
					</li>
					<li class="m-nav__separator m-nav__separator--fit"></li>
					<li class="m-nav__item">
						<button mat-stroked-button (click)="logout()">Logout</button>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div> -->
<!-- </li> -->
